<%= form_for(@verb) do |f| %>
  <% if @verb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verb.errors.count, "error") %> prohibited this verb from being saved:</h2>

      <ul>
      <% @verb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :verb %><br />
    <%= f.text_field :verb %>
  </div>
  <div class="field">
    <%= f.label :preposition %><br />
    <%= f.text_field :preposition %>
  </div>
  <% if Settings[@language]['use_case'] %>
  	<div class="field">
    	<%= f.label :case %><br />
    	<%= f.select :case, [['Dativ', 'Dativ'], ['Akkusativ', 'Akkusativ']] %>
  	</div>
  <% end %>
  <div class="field">
    <%= f.label :translation %><br />
    <%= f.text_field :translation %>
  </div>
  <div class="field">
    <%= f.label :clarification %><br />
    <%= f.text_field :clarification %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
